page-captura {
   
}
.toast-message {
    white-space: pre-line;
  }
  
.modal-component {
    height: 270px;
    position: absolute;
    top: calc(100% - 270px);

    ion-content {
        background-color: #333;
        color: #eee;
        text-align: center
    }

    .ion-md-return-left {
        color: blueviolet !important;
    }
    .ion-md-exit {
        color: green !important;
    }
    .ion-md-checkbox-outline  {
        color: red !important
    }
}