page-movimento {
    .ion-md-return-left {
        color: blueviolet !important;
    }
    .ion-md-exit {
        color: green !important;
    }
    .ion-md-checkbox-outline  {
        color: red !important
    }
}
